#projects {
    font-style:normal;
    text-align:center;
    flex-wrap:wrap;
    padding:10px;
    height:500px;
    padding: 5px;
    margin: 5%;
    animation: projects 2s linear 2s;
    }
    @keyframes projects {
        0%{transform: translateY(100px);}
        100%{transform: translateY(-100px);}
    }
    nav ul {
        color:rgb(11, 6, 9);
        justify-content: right;
        display:flex;
        list-style: none;
        align-items: center;
        gap:20px;
        font-size:28px;
        margin-right: 10px;
    }
    
    @media (max-width:769px) {
    #projects {
        font-style:normal;
        text-align:center;
        flex-wrap:wrap;
        padding:10px;
        height:500px;
        padding: 5px;
        margin: 5%;
        animation: projects 2s linear 2s;
        }
    }
        @keyframes projects {
            0%{transform: translateY(100px);}
            100%{transform: translateY(-100px);}
        }
        @media (max-width:769px) {
        nav ul {
            color:rgb(11, 6, 9);
            justify-content: right;
            display:flex;
            list-style: none;
            align-items: center;
            gap:20px;
            font-size:28px;
            margin-right: 10px;
        }
    }
        nav {
            margin-left:50%;
            align-items: center;
        }
        .form {
            display:grid;
            place-items: center;
            height:80vh;
            margin:20%;
            margin-bottom: 0%;
        }
        form {
        width:600px;
        padding:20px;
        border:1px solid blueviolet;
        background-color:rgb(132, 132, 152);
        border-radius: 10px;
        text-align:left;
        }
        @media (max-width:769px) {
        #project1, #project2 {
            box-shadow:3px 5px 6px rgb(132, 132, 152);
            color:rgb(2, 2, 8);
            width:100%;
            align-items: center;
            display:flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        
        }
    }
        #footer {
            border: 1px solid blueviolet;
            border-radius: 20px;
            align-items: baseline;
            background-color:rgb(132, 132, 152);
            margin-right: 30%;
            
        }
        @keyframes movepictures {
            0%{transform:translateX(-100%);}
            100%{transform:translateX(100%);}
            }
        .students {
            display: flex;
            flex-wrap: wrap;
            justify-content:flex-start;
            padding: 1px 0;
            gap:2%;
            background-color: black;
            
            }
            @media (max-width:769px) {
        .students img {
            margin: 0%;
            width: 22%; 
            height: auto; 
            border-radius: 10px; 
            object-fit: cover;
            float: left;
            animation:movepictures 10s linear infinite;
            overflow: hidden;
            transition: width 2s;
        }
    }
        .students img:hover {
            width:25%;
        }
        #head, #header2 {
            font-style:oblique;
            box-shadow: 2px 3px 4px rgb(148, 148, 169);
            color:rgb(2, 2, 8);
        }
        .form label {
            color:black
        }
        a {
            color:black;
            list-style: none;
        }
        nav a {
            text-decoration: none;
        }
        #header2 {
            text-align:center;
            width: 100px;
            padding: 0%;
        
        }
        #head {
            text-align:center;
            width: 100px;
            padding: 0%;  
        }
        .home {
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;
         height: 60vh;
         animation: movewords 2s ease-in-out 1;
         font-size: 58px;
        }
        @keyframes movewords {
            0%{transform:translateY(-100%);}
            100%{transform: translateY(100%);} 
        }
        input, textarea{
            background-color: rgb(172, 172, 198);
        }
    nav {
        margin-left:50%;
        align-items: center;
    }
    .form {
        display:grid;
        place-items: center;
        height:80vh;
        margin:20%;
        margin-bottom: 0%;
    }
    form {
    width:600px;
    padding:20px;
    border:1px solid blueviolet;
    background-color:rgb(132, 132, 152);
    border-radius: 10px;
    text-align:left;
    }
    #project1, #project2 {
        box-shadow:3px 5px 6px rgb(132, 132, 152);
        color:rgb(2, 2, 8);
        width:100%;
        align-items: center;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
    }
    #footer {
        border: 1px solid blueviolet;
        border-radius: 20px;
        align-items: baseline;
        background-color:rgb(132, 132, 152);
        margin-right: 30%;
        
    }
    @keyframes movepictures {
        0%{transform:translateX(-100%);}
        100%{transform:translateX(100%);}
        }
    .students {
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        padding: 1px 0;
        gap:2%;
        background-color: black;
        
        }
        .students img {
            margin: 0%;
            width: 22%; 
            height: auto; 
            border-radius: 10px; 
            object-fit: cover;
            float: left;
            animation:movepictures 10s linear infinite;
            overflow: hidden;
            transition: width 2s;
        }
    .students img:hover {
        width:25%;
    }
    #head, #header2 {
        font-style:oblique;
        box-shadow: 2px 3px 4px rgb(148, 148, 169);
        color:rgb(2, 2, 8);
    }
    .form label {
        color:black
    }
    a {
        color:black;
        list-style: none;
    }
    nav a {
        text-decoration: none;
    }
    #header2 {
        text-align:center;
        width: 100px;
        padding: 0%;
    
    }
    #head {
        text-align:center;
        width: 100px;
        padding: 0%;  
    }
    .home {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     height: 60vh;
     animation: movewords 2s ease-in-out 1;
     font-size: 58px;
    }
    @keyframes movewords {
        0%{transform:translateY(-100%);}
        100%{transform: translateY(100%);} 
    }
    input, textarea{
        background-color: rgb(172, 172, 198);
    }